openapi: 3.2.0
info:
  title: WellnessLiving Authentication API
  description: Curated, representative subset of WellnessLiving's official production API (RESTful, JSON-over-HTTPS).
  version: 1.1.20260620071011
  contact:
    name: WellnessLiving Support
    email: support@wellnessliving.com
    url: https://www.wellnessliving.com/support
  license:
    name: Proprietary
    url: https://www.wellnessliving.com/knowledge-sharing/terms-of-use/
  termsOfService: https://www.wellnessliving.com/knowledge-sharing/terms-of-use/
servers:
- url: https://us.wellnessliving.com
  description: Production - United States data center
- url: https://au.wellnessliving.com
  description: Production - Australia data center
- url: https://staging.wellnessliving.com
  description: Staging (pre-release QA branch)
- url: https://demo.wellnessliving.com
  description: Demo/trunk (active development branch)
security:
- BearerAuth: []
tags:
- name: Authentication
paths:
  /Core/Passport/Login/Enter/Enter.json:
    post:
      operationId: post_Core_Passport_Login_Enter_Enter
      summary: Signs the user in using their login and hashed password
      description: 'Accepts the user login, a password hash derived using the notepad obtained from NotepadApi,

        and an optional remember preference. Validates credentials, enforces CAPTCHA when too many failed

        attempts have occurred, starts a session for the user, and returns a redirect URL if applicable.'
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/XErrorRules'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                json_data:
                  description: The `json_data` field. See WellnessLiving developer portal for full field semantics.
                  type: string
                s_captcha:
                  description: The `s_captcha` field. See WellnessLiving developer portal for full field semantics.
                  type: string
                s_login:
                  description: The `s_login` field. See WellnessLiving developer portal for full field semantics.
                  type: string
                s_notepad:
                  description: The `s_notepad` field. See WellnessLiving developer portal for full field semantics.
                  type: string
                s_password:
                  description: The `s_password` field. See WellnessLiving developer portal for full field semantics.
                  type: string
                s_remember:
                  description: The `s_remember` field. See WellnessLiving developer portal for full field semantics.
                  type: string
                url_return:
                  description: The `url_return` field. See WellnessLiving developer portal for full field semantics.
                  type: string
              required:
              - json_data
              - s_captcha
              - s_login
              - s_notepad
              - s_password
              - s_remember
              - url_return
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url_redirect:
                    description: The `url_redirect` field.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /Core/Passport/Enter/Jwt/JwtToken.json:
    get:
      operationId: get_Core_Passport_Enter_Jwt_JwtToken
      summary: Returns a jwt token that can be used to log user
      description: 'Requires the user to be signed in. Generates a signed JWT token tied to the current authorization

        header and user ID that can be passed to other services to authenticate the user without sharing session cookies.'
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/XErrorRules'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  s_token:
                    description: The `s_token` field.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /Core/Passport/Login/SignOut/SignOut.json:
    post:
      operationId: post_Core_Passport_Login_SignOut_SignOut
      summary: Signs user out
      description: 'Requires the user to be signed in, fires a before-logout event allowing listeners to intercept or

        handle the logout, then clears the current session. Throws an error if the user is authenticated

        via SAML SSO, as API-based logout is not supported in that case.'
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/XErrorRules'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /Wl/Login/Login.json:
    get:
      operationId: get_Wl_Login_Login
      summary: Retrieves information about user
      description: 'Returns name, gender, photo URL, email, and staff details for the specified user within the given business.

        Public staff information is returned even without profile access; full client details require access to the

        user''s profile.'
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/XErrorRules'
      - name: i_photo_height
        in: query
        required: true
        schema:
          type: integer
        description: The height of the requested photo.
      - name: i_photo_width
        in: query
        required: true
        schema:
          type: integer
        description: The width of the requested photo.
      - name: k_business
        in: query
        required: true
        schema:
          type: string
        description: 'The key of the business. Users can be in multiple businesses.

          This can be left as `null` to retrieve system-wide information.'
      - name: uid
        in: query
        required: false
        schema:
          type:
          - string
          - 'null'
        description: 'The key of the user.


          `null` on case when is walk-in client.'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  can_postcard:
                    description: The `can_postcard` field.
                  can_send_message:
                    description: The `can_send_message` field.
                  id_gender:
                    description: The `id_gender` field.
                  is_photo_empty:
                    description: The `is_photo_empty` field.
                  k_staff:
                    description: The `k_staff` field.
                  s_first_name:
                    description: The `s_first_name` field.
                  s_last_name:
                    description: The `s_last_name` field.
                  text_mail_client:
                    description: The `text_mail_client` field.
                  text_mail_staff:
                    description: The `text_mail_staff` field.
                  text_name_first_staff:
                    description: The `text_name_first_staff` field.
                  text_name_full_client:
                    description: The `text_name_full_client` field.
                  text_name_full_staff:
                    description: The `text_name_full_staff` field.
                  text_name_last_staff:
                    description: The `text_name_last_staff` field.
                  uid:
                    description: The `uid` field.
                  uid_staff:
                    description: The `uid_staff` field.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    Unauthorized:
      description: Missing, expired, or invalid Bearer token / session.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Authenticated but not permitted to access this business, location, or resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: 'Client-side error: invalid input, failed validation, throttling, or other request error (only returned as an HTTP status when `X-Error-Rules` opts in; otherwise encoded in a 200 body).'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: The request payload failed field-level validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    XErrorRules:
      name: X-Error-Rules
      in: header
      required: false
      schema:
        type: string
      description: Opt in to mapping internal API error statuses to real 4xx HTTP codes. By default the API always answers HTTP 200 even on error, with the failure encoded in the JSON body; setting this header (e.g. to `default`) makes the gateway translate matched error statuses to 400/403/404 responses instead.
  schemas:
    ErrorResponse:
      type: object
      description: Standard WellnessLiving API error response shape.
      properties:
        status:
          type: string
          description: Machine-readable status/error code string (e.g. `access-denied`, `not-found`).
        text_message:
          type: string
          description: Human-readable error message.
        a_field:
          type: object
          additionalProperties: true
          description: Per-field validation errors, when the failure is a 422-style validation error.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The officially published OpenAPI declares a JWT Bearer scheme: sign in via `POST /Core/Passport/Login/Enter/Enter.json`, then mint a token with `GET /Core/Passport/Enter/Jwt/JwtToken.json` and send it as `Authorization: Bearer <token>`. The underlying PHP/JS SDKs additionally support the legacy scheme: a registered Application ID + secret code sign a per-request HMAC (SHA3-based) placed in the `Authorization:` header alongside session cookies established by the `Notepad`/`Enter` model pair. Both schemes require WellnessLiving''s Integrations Team to first approve API access, sign an NDA and API Agreement, and issue application credentials.'
